:root {
  --white: #f7f6f9;
  --bg-dark: #303348;
  --secondary: #e4e3f4;
  --primary: #7367f0;
  --info: #3baee0;
  --danger: #f2393b;
  --success: #28c76f;
}

body {
  font-family: Outfit, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol" !important;
  margin: 0;
  padding: 0;
  background-color: var(--bg-dark);
}

button {
  padding: 0.3%;
  border-radius: 5px 5px 5px 5px;
  background-color: var(--secondary);
  color: var(--primary);
  border: 0;
  font-size: large;
  cursor: pointer;
}

.block { 
  width: 100%;
  padding: 3% 0;
}

.primary {
  background-color: var(--primary) !important;
  color: var(--white) !important;
}