:root {
  --white: #f7f6f9;
  --bg-dark: #303348;
  --bg-card: #464a66;
  --secondary: #e4e3f4;
  --secondary-dark: #c2c0d6;
  --primary: #7367f0;
  --info: #3baee0;
  --danger: #fa69ac;
  /* --danger: #f2393b; */
  --success: #28c76f;
}

a {
  cursor: pointer;
}

body {
  font-family: Outfit, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol" !important;
  margin: 0;
  padding: 0;
  background-color: var(--bg-dark);
  color: var(--white);
}

button {
  padding: 0.3%;
  border-radius: 5px 5px 5px 5px;
  background-color: var(--secondary);
  color: var(--primary);
  border: 0;
  font-size: large;
  cursor: pointer;
}

button:hover {
  color: var(--info);
}

button:active {
  color: var(--primary);
  background-color: var(--secondary-dark);
}

.p-3 {
  padding: 3vw;
}

.ptb-1 {
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.pt-1 {
  padding-top: 1vh;
}

.mb-1 {
  margin-bottom: 1vh;
}

.ml-1 {
  margin-left: 1vw;
}

.mr-1 {
  margin-right: 1vw;
}

a {
  color: var(--primary);
  text-decoration: none;
}

a:hover {
  color: var(--info);
}

.b-block {
  width: 100%;
  cursor: pointer;
  padding: 1rem 0;
}

.b-primary {
  background-color: var(--primary) !important;
  color: var(--white) !important;
  cursor: pointer;
}

.text-danger {
  color: var(--danger);
}

input,
textarea {
  padding: 1rem;
  color: var(--bg-dark);
  background-color: var(--white);
  border-radius: 15px 15px;
  border: 0;
  border: 1px solid var(--bg-card);
  font-family: Outfit, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol" !important;
}

input:focus,
textarea:focus {
  border: 1px solid var(--info);
  outline: none;
}
